################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Loja.Testes.ConsoleApp/bin
/Loja.Testes.ConsoleApp/obj
/Loja/bin
/Loja/obj
